*
{
    margin: 0;
}
.herodiv
{
    width: 100%;
    height: 700px;
    background-color: #000000;
}
.head
{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.par
{
    font-size: 18px;
    color: #FFFFFF;
}
.imagehr
{
    width: 60px;
    height: 8px;
    flex-direction: column;

}
.herodiv
{
    width: 100%;
    height: 750px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divpar
{
    width: 255px;
    height: 58px;
    color: #FFFFFF;
}
.imageworld
{
    width: 45%;
    height: 90%;
    background-image: url(./de3ad16368d4039c48f7309b80cd0b1cde3dc481.png);
    background-repeat: repeat;
    background-size: cover;
}
.par1
{
    width: 50%;
    height: 114px;
    position: absolute;
    right: 400px;
    bottom: 400px;
    display: flex;
}
.right
{
position: relative;
right: 408px;
}
.left
{
    margin-left: 300px;
}
.btn
{
    width: 150px;
    height: 50%;
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    border: none;
}
.h1h
{
 font-size: 45px;
}
.btn1
{
    width: 250px;
    height: 55px;
    position: absolute;
    border-radius: 15px;
}
.h2h
{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}
.information
{
    width: 75%;
    height: 400px;
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item
{
    width: 15%;
    height: 40%;
    background-color: #F5F5F5;
}
.item1
{
    width: 22%;
    height: 40%;
    background-color: #F5F5F5;
}
.item2
{
    width: 20%;
    height: 40%;
    background-color: white;
}
.item3
{
    width: 24%;
    height: 40%;
    background-color: #F5F5F5;
}
.item4
{
    width: 21%;
    height: 50%;
    background-color: white;
}
.item5
{
    width: 25%;
    height: 40%;
    background-color: #F5F5F5;
}
.item6
{
    width: 25%;
    height: 40%;
    background-color: #F5F5F5;
}
.item7
{
    width: 25%;
    height: 40%;
    background-color: white;
}
.par2
{
    font-size: 22px;
    margin-top: 6px;
}
.par3
{
    font-size: 18px;
    margin-top: 7px;
}
.divbut
{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;

}
.btn2
{
    width: 255px;
    height: 55px;
    background-color: #598BE0;
    color: white;
    border: none;
    border-radius: 15px;
    display: none;
}
.mediaimage
{
    display: none;
}
.numberrr
{
  margin-left: 30px;
  margin-top: 20px;  
}
@media(max-width: 510px)
{
    .head
    {
        justify-content: space-between;
    }
    .herodiv
    {
        height: 1000px;
        flex-direction: column;
    }
    .imageworld
    {
        width: 100%;
        height: 45%;
        position: relative;
        bottom: 170px;
    }
    .top
    {
        position: absolute;
        right: 190px;
        width: 198px;
        height: 80px;
    }
    .topright
    {
        width: 158px;
        position: absolute;
        left: 230px;
    }
    .par1
    {
        width: 100%;
        height: 150px;
        position: relative;
        left: 1px;
    }
    .h1h
    {
        position: relative;
        bottom: 65px;
    }
    .btn1
    {
       position: relative;
       top: 50px;
    }
    .information
    {
        width: 100%;
        height: 2000px;
        background-color: #F5F5F5;
    }
    .item
    {
        width: 95%;
        height: 157px;
        margin: auto;
        background-color: white;
    }
    .imagenumber
    {
     margin-left: 180px;
     background-color: gray;
    }
    .par2
    {
        margin-left: 140px;
    }
    .par3
    {
        margin-left: 95px;
    }
    .item1
    {
        width: 95%;
        height: 160px;
        margin: auto;
        background-color: white;
    }
    .item2
    {
        display: none;
    }
    .item3
    {
        width: 95%;
        height: 317px;
        margin: auto;
        background-color: white;
    }
    .lefttop
    {
        position: relative;
        left: 100px;
        top: 10px;

    }
    .item4
    {
        display: none;
    }
    .item5
    {
        width: 95%;
        height: 351px;
        margin: auto;
        background-color: white;
    }
    .lefttt
    {
        position: relative;
        left: 20px;
    }
    .classnumber
    {
        position: relative;
        left: 200px;
        background-color: gray;
    }
    .mediaimage
    {
        display: block;
    }
    .item7
    {
        display: none;
    }
    .item6
    {
        width: 95%;
        height: 312px;
        margin: auto;
        background-color: white;
    }
    .numberrr
    {
       position: relative;
       left: 40px;
    }
    .btn2
    {
        display: block;
        margin-top: 20px;
    }
}